In [5]:
import pandas as pd
import math

In [7]:
df = pd.DataFrame({'col1': [2, 2, 3], 'col2': ['A', 'B', 'C']})
df

   col1 col2
0     2    A
1     2    B
2     3    C

In [8]:
def change_something(df: pd.DataFrame):
    
    return df['col1'].apply(lambda x: math.log10(x))

x = change_something(df)
df

   col1 col2
0     2    A
1     2    B
2     3    C

:

In [1]:
def dummy(execute: bool) -> None:
    
    if execute:
        return None
    
    print('ELO')
    
a = dummy(True)
b = dummy(False)

ELO

In [4]:
print(a)

None

In [5]:
print(b)

None

In [10]:
a = "elo"
b = None

a + b

TypeError: can only concatenate str (not "NoneType") to str

In [15]:
from datetime import datetime

now = 
now

'2024-02-04_22h-41m-09s'