In [11]:
import pandas as pd
import numpy as np
import math

In [10]:
df = pd.read_csv('../plot_excel.csv')
df['sq_diff'] = (df['rho_pred'] - df['rho_true'])**2
rmse = df.groupby(by='ts_id').agg(rmse = ('sq_diff', 'sum'))
rmse['rmse'] /= math.sqrt(69)
rmse.sort_values(by='rmse')

           rmse
ts_id
295    0.000008
1722   0.000009
672    0.000010
989    0.000010
1066   0.000010
...         ...
685    0.000663
975    0.000699
980    0.000752
804    0.001160
1627   0.001235

[2000 rows x 1 columns]